.text-input{
  background: var(--cream);
  height: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.04);
}

.input{
  height:2.5rem;
  width: calc(100% - 1rem);
  border: 2px solid;
  border-color:rgb(230, 230, 230);
  border-radius: 1.5rem;
  outline:none;
  color:#000;
  padding-left: 1rem;
  font-size: 1rem;
}

.input:focus {
  border-top-color: var(--yellow);
  border-bottom-color: var(--blue);
  border-right-color: var(--blue);
  border-left-color: var(--yellow);
}